body {
     background-image: url("https://static.vecteezy.com/ti/vetor-gratis/t2/1882531-fundo-de-tecnologia-azul-escuro-gr%C3%A1tis-vetor.jpg");
  	background-color: #cccccc;
  	height: 500px;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
}
h1 {
    margin-left: 40px;
} 